 <!--right-->
    <div class="right" id="c_right">
           <div class="s_about">
          <h2>关于博主</h2>
           <img src="__PUBLIC__/index/images/wode.jpg" width="230" height="320" alt="博主"/>
           <p>博主：秦林慧</p>
           <p>职业：高级工程师</p>
           <p>简介：活泼，开朗</p>
           <p>
           <a href="tencent://message/?uin=745722006&Site=http://www.hcm602.cn&Menu=yes" title="联系博主"><span class="left b_1"></span></a><a href="#" title="加入QQ群，一起学习！"><span class="left b_2"></span></a>
           <div class="clear"></div>
           </p>
          </div>
                             
         <!--栏目分类-->
           <div class="lanmubox">
              <div class="hd">
               <ul><li>精心推荐</li><li>最新文章</li><li class="hd_3">随机文章</li></ul>
              </div>
              <div class="bd">
                <ul>
                  <foreach name="recom" item="v">
                       <li><a href="{:U('Index/read')}?id={$v.id}" title="{$v.bt}">{$v.bt}</a></li>
                  </foreach>
              </ul>
              <ul>
                  <foreach name="new" item="v">
                       <li><a href="{:U('Index/read')}?id={$v.id}" title="{$v.bt}">{$v.bt}</a></li>
                  </foreach>
              </ul>
              <ul>
                 <foreach name="rand" item="v">
                       <li><a href="{:U('Index/read')}?id={$v.id}" title="{$v.bt}">{$v.bt}</a></li>
                </foreach>
              </ul>  
              </div>
           </div>
          
          <!--end-->
           <div class="link">
            <h2>友情链接</h2>
            <p>
            <a href="http://www.qlhbook.com">秦林慧个人博客</a><br>
             <a href="http://www.wdbook.com">王迪个人博客</a>
            </p>
           </div>
            <div class="link1">
            <h2>扫一扫</h2>
            <p><img src="__PUBLIC__/index/images/ewm.png" width="230" height="220" alt="博主"/></p>
           </div>
         </div>
         <!--right end-->
    </div>
<!--end  right-->