<!DOCTYPE HTML>
<html>
<head>
<title>Modern an Admin Panel Category Flat Bootstarp Resposive Website Template | Validation :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/admin/index/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/admin/index/css/style.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/admin/index/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/admin/index/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/admin/index/js/bootstrap.min.js"></script>

 <script type="text/javascript" src="__PUBLIC__/public/ueditor.config.js"></script>
  <script type="text/javascript" src="__PUBLIC__/public/ueditor.all.min.js"></script>
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <!-- 引入公共目录 -->
       <include file="Public/left"/>

        <div id="page-wrapper">
        <div class="col-md-12 graphs">
       <div class="xs">
        <h3>日记添加</h3>
        <div class="well1 white">
        <form action="__URL__/diary_fabu" method="post" enctype="multipart/form-data">
          <fieldset>
            <div class="form-group">
              <label class="control-label">时间</label>
              <input type="text" name="bt" class="form-control1 ng-invalid ng-valid-email ng-invalid-required ng-touched" style="width:500px;" required="" placeholder="请填写日期">
            </div>
            <div class="form-group">
              <label class="control-label">题目</label>
              <input type="text" name="title" class="form-control1 ng-invalid ng-valid-email ng-invalid-required ng-touched" style="width:500px;" required="" placeholder="写一个标题吧">
            </div>
            <div class="form-group">
              <label class="control-label">心情图片</label>
              <!-- <input name="photo"  id="" type="file" style="width:500px;"> -->
               <input type="file" name="photo" style="margin-left:105px;">
            </div>
            <div class="form-group">
              <label class="control-label normal">内容</label>
            <textarea name="rj" class="common-textarea" id="content" cols="30" style="width: 98%;height:500px;" rows="10" placeholder="请输入今天的心情"></textarea>
            </div>
             <div class="form-group" style="margin-left:400px;">
              <button type="submit" class="btn btn-primary">发布</button>
              <button type="reset" class="btn btn-default">重置</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="copy_layout">
      <p>Copyright © 2015 Modern. All Rights Reserved | Design by <a href="http://www.17sucai.com/" target="_blank">17素材网</a> </p>
   </div>
   </div>
      </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
<!-- Nav CSS -->
<link href="__PUBLIC__/admin/index/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/admin/index/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/admin/index/js/custom.js"></script>
</body>
<script>
//引入编辑器
    var ue = UE.getEditor('content');
</script>
</html>
