<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>留言板-个人博客</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
<link rel="stylesheet" href="__PUBLIC__/index/css/index.css"/>
<link rel="stylesheet" href="__PUBLIC__/index/css/style.css"/>

<link rel="Stylesheet" type="text/css" href="__PUBLIC__/index/style/loginDialog.css" />
<script type="text/javascript" src="__PUBLIC__/index/js/jquery-1.8.3.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/index/js/jquery1.42.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/index/js/jquery.SuperSlide.2.1.1.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/index/js/jquery-1.9.1.min.js"></script>
 --><!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
     <include file="public/top"/>
    <!--content start-->
    <div id="content">
       <!--left-->
         <div class="left" id="guestbook">
           <div class="weizi">
           <div class="wz_text">当前位置：<a href="#">首页</a>><h1>留言板</h1></div>
           </div>
           
           <div class="g_content">
           <table id="list">
          
           <foreach name="res" item="v">
           <input type="hidden" id="name" value="{$v.name}">
            <input type="hidden" id="time" value="{$v.time}">
           <tr>
              <td>
              <if condition="($v.name eq '游客')">
              <p style="color:green;">{$v.name}:&nbsp;&nbsp;{$v.nr}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$v.time}</p>
                </if>
                 <if condition="($v.name eq '秦林慧')">
                    <p style="margin-left:400px;color:red;">博主:&nbsp;&nbsp;{$v.nr}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$v.time}</p>
                    </if>
              </td>
          </tr>
              </foreach>
              
            </table>
           </div>

           <div class="g_content">
             <p><textarea name="nr" id="nr" rows="5" cols="85" placeholder="。。。请输入留言内容"></textarea></p>
             
             <p style="margin-left:150px;margin-top:35px;">

              <input type="button" value="发送" class="btn btn-primary btn6 mr10" id="add"> 
             </p><span><a href="javascript:;" id="example" style="">登录账号</a></span>
           </div>
            

            <!-- 弹出对话框 -->
                <div id="LoginBox">
        <div class="row1">
            登录账号窗口<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn">×</a>
        </div>
        <div class="row">
            用户名: <span class="inputBox">
                <input type="text" id="name" placeholder="账号/邮箱" />
           
        </div>
        <div class="row">
            密&nbsp;&nbsp;&nbsp;&nbsp;码: <span class="inputBox">
                <input type="text" id="email" placeholder="邮箱" />
            
        </div>
        <div class="row">
            <a href="#" id="loginbtn">登录</a>
        </div>
    </div >
        <img style="margin-left:30px;" src="__PUBLIC__/index/images/ad.png"><br>
        <img style="margin-left:30px;" src="__PUBLIC__/index/images/ad1.gif">
    </div>
         <!--end left -->

         
         <!--right-->
         <include file="public/right"/>
         <!--right end-->
        
         <div class="clear"></div>
         
    </div>
    <!--content end-->
    <!--footer-->
    <div id="footer">
     <p>Design by:少年 2014-8-9</p>
    </div>
    <!--footer end-->
    <script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
    <script  type="text/javascript" src="__PUBLIC__/index/js/nav.js"></script>
</body>
</html>

<script>
  $("#add").click(function(){
    var nr=$("#nr").val();
    var name=$("#name").val();
    var time=$("#time").val();
    //alert(nr);
    $.ajax({
      type:"post",
      url:"{:U('Leave/leave_cha')}",
      data:{nr:nr},
      success:function(msg){
        //alert(msg);
        if(msg=='ok'){
          $("#list tr :last").after("<tr><td>"+'<font style="color:green;">'+name+':'+'&nbsp;'+nr+'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+time+'</font>'+"</td></tr>");
        }else{
          alert("添加失败");
        }
      }
    })
    
  });


  $(function ($) {
    //弹出登录
    $("#example").hover(function () {
      $(this).stop().animate({
        opacity: '1'
      }, 600);
    }, function () {
      $(this).stop().animate({
        opacity: '0.6'
      }, 1000);
    }).on('click', function () {
      $("#LoginBox").fadeIn("slow");
    });

    $(".close_btn").hover(function () { $(this).css({ color: 'black' }) }, function () { $(this).css({ color: '#999' }) }).on('click', function () {
      $("#LoginBox").fadeOut("fast");
      $("#mask").css({ display: 'none' });
    });
  });
</script>

