<!DOCTYPE HTML>
<html>
<head>
<title>权限添加</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/admin/index/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/admin/index/css/style.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/admin/index/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/admin/index/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/admin/index/js/bootstrap.min.js"></script>

 <script type="text/javascript" src="__PUBLIC__/public/ueditor.config.js"></script>
  <script type="text/javascript" src="__PUBLIC__/public/ueditor.all.min.js"></script>
</head>
<style>
</style>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <!-- 引入公共目录 -->
       <include file="Public/left"/>

        <div id="page-wrapper">
        <div class="col-md-12 graphs">
       <div class="xs">
        <h3>节点添加</h3>
        <div class="well1 white">
        <form action="__URL__/node_add_pro" method="post" enctype="multipart/form-data">
          <fieldset>
            <div class="form-group">
              <label class="control-label">节点名称</label>
              <input type="text" name="title" class="form-control1 ng-invalid ng-valid-email ng-invalid-required ng-touched" style="width:500px;" required="">
            </div>
            <div class="form-group">
              <label class="control-label">父节点</label>
              <select name="pid" id="">
                  <option value="">==请选泽==</option>
                      <foreach name="list" item="v">
                          <option value="{$v.node_id}">{:str_repeat('&nbsp;--|',$v['leave'])}{$v.title}</option>
                      </foreach>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label">控制器</label>
              <input type="text" name="controller" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.password" style="width:500px;" required="">
            </div>
            <div class="form-group">
              <label class="control-label">方法</label>
              <input type="text" name="action" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" style="width:500px;" required="">
            </div>
             <div class="form-group" style="margin-left:300px;">
              <button type="submit" class="btn btn-primary">添加</button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="reset" class="btn btn-default">重置</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="copy_layout">
      <p>Copyright © 2015 Modern. All Rights Reserved | Design by <a href="http://www.17sucai.com/" target="_blank">17素材网</a> </p>
   </div>
   </div>
      </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
<!-- Nav CSS -->
<link href="__PUBLIC__/admin/index/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/admin/index/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/admin/index/js/custom.js"></script>
</body>
</html>
