<!DOCTYPE HTML>
<html>
<head>
<title>Modern an Admin Panel Category Flat Bootstarp Resposive Website Template | Basic_tables :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/admin/index/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/admin/index/css/style.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/admin/index/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/admin/index/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/admin/index/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
       <!-- 引入公共目录 -->
        <include file="Public/left"/>
        <div id="page-wrapper">
        <div class="col-md-12 graphs">
     <div class="xs">
     <h3>评论管理</h3>
    
  <div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
        <div class="panel-heading">
          <h2>文章评论</h2>
          <div class="panel-ctrls" data-actions-container="" data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
        </div>
         <div style="border:1px #f00 solid;width:600px;height:600px;margin-left:300px;">
                  
                   <p style="font-size:18px;text-align:center;">{$bt}</p><br>
                      <foreach name="res" item="v">
                          <p style="text-indent:4em;">{$v.name}:&nbsp;&nbsp;{$v.nr}:&nbsp;&nbsp;&nbsp;&nbsp;{$v.time}</p><br>
                      </foreach>
                        
               </div> 
              <tr>
              <td>
                  <input class="btn btn6" style="margin-left:550px;background:green;margin-top:20px;" onclick="history.go(-1)" value="返回" type="button">
              </td>
              </tr>
    <!--/main-->
</div>
  </div>
  </div>
  <div class="copy_layout">
      <p>Copyright © 2015 Modern. All Rights Reserved | Design by <a href="http://www.17sucai.com/" target="_blank">17素材网</a> </p>
  </div>
   </div>
      </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
<!-- Nav CSS -->
<link href="__PUBLIC__/admin/index/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/admin/index/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/admin/index/js/custom.js"></script>
</body>
</html>
